# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation
name: Release Pipeline

on:
  push:
    branches:
      - main
    paths:
      - "VERSION"

permissions:
  contents: read

jobs:
  tag-github:
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/tag-github.yml@51ae978019876921b048bc5b445dd6906f94514a # v0.0.13
    secrets: inherit

  release-image:
    needs: tag-github
    permissions:
      contents: read
      packages: write
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/release-image.yml@51ae978019876921b048bc5b445dd6906f94514a # v0.0.13
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
    secrets: inherit

  update-version:
    needs: tag-github
    permissions:
      contents: write
      pull-requests: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/update-version.yml@51ae978019876921b048bc5b445dd6906f94514a # v0.0.13
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
    secrets: inherit

  branch-release:
    needs: tag-github
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/branch-release.yml@51ae978019876921b048bc5b445dd6906f94514a # v0.0.13
    with:
      release_branch: ${{ needs.tag-github.outputs.release_branch }}
      version_branch: ${{ needs.tag-github.outputs.version_branch }}
    secrets: inherit
